.menu {
    display: inline-flex;
    position: absolute;
    right: 50px;
}

.subM {
    display: flex;
    /* width: 150px; */
    justify-content: center;
    font-size: larger;
    padding: 30px 30px 40px;
}
.link {
    text-decoration: none;
    margin: 10px;
}
.header {
    height: 80px;
}
.logo{   
    padding: 30px 30px 40px;
    position: absolute;    
}
.logo img {
    width: 200px;
}
.main {
    margin-top: 20px;
    width: 100%;
    /* display: flex; */
}
.main img {
    height: 730px;
    width: 98%;
    padding: 10px;
}
.content {
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 300px;
}
.content .title {
    font-size: 5rem;
    text-align: -webkit-left;
}